<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>JustZone2 needs Bluetooth to connect to your KICKR trainer and heart rate monitor.</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>JustZone2 needs Bluetooth to connect to your KICKR trainer and heart rate monitor.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>JustZone2 saves your workout chart to your photo library so you can add it to Strava.</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.justzone2.app</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>justzone2</string>
            </array>
        </dict>
    </array>
    <key>UIBackgroundModes</key>
    <array>
        <string>bluetooth-central</string>
    </array>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>LaunchScreenBackground</string>
        <key>UIImageName</key>
        <string>LaunchIcon</string>
    </dict>
</dict>
</plist>
